:root {
  --primary-color: #283c5a;
  --link-hover-color: #cdaf87;
}

* {
  box-sizing: inherit;
}

html {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #fff url(../image/bg.jpg) repeat;
}

body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
    padding 0s, margin 0s !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Old Standard TT", serif;
}

a {
  font-family: "Lato", sans-serif;
}

a:hover {
  text-decoration: none;
}

.btn {
  min-width: 170px;
  min-height: 50px;
  padding: 0;
  border: 2px white solid;
  border: 1px black solid;
  border-radius: initial;
}

.btn.btn-normal {
    background-color: #283c5a;
}

.btn-link {
  display: block;
  color: white;
  font-size: 14px;
  line-height: 2.45;
  padding: 8px 16px;
  text-decoration: none;
}

.btn-link:hover, .btn-link:active, .btn-link:visited, .btn-link:focus  {
  text-decoration: none;
}

/* date picker */
.date-picker {
  height: 50px;
  padding: 13.5px 25px;
  margin-bottom: 10px;
  border: none;
  outline: none;
}

.o-hidden {
  overflow: hidden;
}

/* select */
select {
  height: 50px;
  border: none;
  outline: none;
  padding: 13.5px 25px;
  background-color: #fff;
}
