@media (min-width: 992px) and (max-width: 1199px) {
  .body {
    padding-top: 80px;
  }
}

@media (max-width: 991px) {
  .body {
    margin-top: 60px;
    padding-top: 80px;
  }

  .contact__content {
    padding: 60px 40px;
  }

  .contact__form {
    margin-top: 30px;
    padding-left: 0px;
  }
}

@media (max-width: 575px) {
  .contact__main-title {
    padding-top: 0px;
  }

  .contact__content {
    padding: 20px 10px;
  }
}
